.container{
  border-left: 1px solid rgb(156, 163, 175);
  padding-left: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid rgb(156, 163, 175);
}

.header h4 {
  font-size: 1.25rem;
  font-family: serif;
  margin-top: 1.25rem;
  text-wrap: nowrap;
}

.header span {
  font-size: 0.875rem;
  font-family: sans-serif;
  margin-top: 6px;
}

.avatar{
  position: relative;
  opacity: 0.5;
  border-radius: 100%;
  border: 1px solid rgb(156, 163, 175);
  object-fit: cover;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.info-tag {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.info-tag h4{
  font-size: 1rem;
  font-family: sans-serif;
}

.info-tag span{
  font-size: 0.875rem;
  font-family: serif;
  margin-top: .5rem;
  text-wrap: nowrap;
}