
.marker {
  padding: 0.5rem;
  background: lightblue;
  border-radius: 1000px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.8s ease-in;
}

.marker:hover{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: #a2e092;
  transition: all 0.8s ease-in;
}

.marker svg{
    height: 20px;
    width: 20px;
}

.marker-info {
  display: 'flex';
  flex-direction: 'column';
}

.marker-info p:first-child{
    font-weight: bold;
    font-size: 0.75rem;
}

.marker-rating {
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  margin-left: 0.5rem;
}

.mapboxgl-ctrl-bottom-right{
  display: none !important;
}