.container{
  display: flex;
  gap: 5rem;
  margin: 3rem 3rem;
}

.image{
  height: 75vh;
  width: 50vw;
  display: flex;
  border-radius: 1rem;

  background-image: url('../../../public/login-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.text{
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.header{
  font-family: serif;
  color: #545454;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.header h1 {
  margin-bottom: 1rem;
}