@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;


  --background-100: '#fdfbf7';
  --background-200: '#f9f6f0';
  --background-700: '#545454';

  --text-gray-100: '#F8F9FC';
  --text-gray-700: '#333';
  --text-black: '#fff';
  --text-white: '#000';

  --border: 'rgb(156 163 175)';
  --link: '#1eaaf1';
  --link-hover: '#0d8ecf';
  --warning: '#fff3cd';
  --success: '#a2e092';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-gray-100);
  -webkit-font-smoothing: 'antialiased';
  background-color:#fdfbf7 ;
}

a {
  color: inherit;
  text-decoration: none;
}
 */

