.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-end;
  
  font-family: serif;
  font-size: 2rem;
  font-weight: 700;

  background-image: url('../../public/coffee-image.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.header-text {
  margin-bottom: 4rem;
  margin-left: 5rem;
  color: white;
}

.body-container{
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding: 0 4rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coffees-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}