.container{
  display: flex;
  flex-direction: column;
  margin: 4rem 6rem;
}
.main{
  display: flex;
  gap: 4rem;
}

.reviews{
  display: flex;
  flex-direction: column;
}

.reviews h3{
  font-size: 24px;
  margin-bottom: 1rem;
  font-family: serif;
  color: rgb(51, 51, 51);
}